@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header">
    <h1 class="page-title">Dashboard</h1>
</div>

<div class="container-fluid">

    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Just a quick note:</strong> Any Special messages can go here to alert users!
    </div>



    <div class="row-fluid">
        <!-- Begin Awaiting Approval -->
        <div class="block">
            <a href="#page-stats" class="block-heading">Awaiting Approval</a>
            <div id="page-stats" class="block-body collapse in">
                <div class="stat-widget-container" style="margin-top: 20px; margin-bottom: 20px;">
                    <div class="approval_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be approved</div>
                    <div class="row_approval_container">
                        <div class="approval_col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="approval_col3"><a class="btn btn-primary btn-small">Edit</a></div>
                        <div class="approval_col4"><a class="btn btn-primary btn-small">Publish</a></div>
                        <div class="approval_col5"><a class="btn btn-primary btn-small">Copy</a></div>
                        <div class="approval_col6"><a class="btn btn-primary btn-small">Move</a></div>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <div class="approval_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be approved</div>
                    <div class="row_approval_container">
                        <div class="approval_col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="approval_col3"><a class="btn btn-primary btn-small">Edit</a></div>
                        <div class="approval_col4"><a class="btn btn-primary btn-small">Publish</a></div>
                        <div class="approval_col5"><a class="btn btn-primary btn-small">Copy</a></div>
                        <div class="approval_col6"><a class="btn btn-primary btn-small">Move</a></div>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <div class="approval_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be approved</div>
                    <div class="row_approval_container">
                        <div class="approval_col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="approval_col3"><a class="btn btn-primary btn-small">Edit</a></div>
                        <div class="approval_col4"><a class="btn btn-primary btn-small">Publish</a></div>
                        <div class="approval_col5"><a class="btn btn-primary btn-small">Copy</a></div>
                        <div class="approval_col6"><a class="btn btn-primary btn-small">Move</a></div>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <div class="approval_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be approved</div>
                    <div class="row_approval_container">
                        <div class="approval_col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="approval_col3"><a class="btn btn-primary btn-small">Edit</a></div>
                        <div class="approval_col4"><a class="btn btn-primary btn-small">Publish</a></div>
                        <div class="approval_col5"><a class="btn btn-primary btn-small">Copy</a></div>
                        <div class="approval_col6"><a class="btn btn-primary btn-small">Move</a></div>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <div class="approval_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be approved</div>
                    <div class="row_approval_container">
                        <div class="approval_col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="approval_col3"><a class="btn btn-primary btn-small">Edit</a></div>
                        <div class="approval_col4"><a class="btn btn-primary btn-small">Publish</a></div>
                        <div class="approval_col5"><a class="btn btn-primary btn-small">Copy</a></div>
                        <div class="approval_col6"><a class="btn btn-primary btn-small">Move</a></div>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <div class="approval_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be approved</div>
                    <div class="row_approval_container">
                        <div class="approval_col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="approval_col3"><a class="btn btn-primary btn-small">Edit</a></div>
                        <div class="approval_col4"><a class="btn btn-primary btn-small">Publish</a></div>
                        <div class="approval_col5"><a class="btn btn-primary btn-small">Copy</a></div>
                        <div class="approval_col6"><a class="btn btn-primary btn-small">Move</a></div>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <div class="approval_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be approved</div>
                    <div class="row_approval_container">
                        <div class="approval_col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="approval_col3"><a class="btn btn-primary btn-small">Edit</a></div>
                        <div class="approval_col4"><a class="btn btn-primary btn-small">Publish</a></div>
                        <div class="approval_col5"><a class="btn btn-primary btn-small">Copy</a></div>
                        <div class="approval_col6"><a class="btn btn-primary btn-small">Move</a></div>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <div class="approval_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be approved</div>
                    <div class="row_approval_container">
                        <div class="approval_col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="approval_col3"><a class="btn btn-primary btn-small">Edit</a></div>
                        <div class="approval_col4"><a class="btn btn-primary btn-small">Publish</a></div>
                        <div class="approval_col5"><a class="btn btn-primary btn-small">Copy</a></div>
                        <div class="approval_col6"><a class="btn btn-primary btn-small">Move</a></div>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <div class="approval_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be approved</div>
                    <div class="row_approval_container">
                        <div class="approval_col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="approval_col3"><a class="btn btn-primary btn-small">Edit</a></div>
                        <div class="approval_col4"><a class="btn btn-primary btn-small">Publish</a></div>
                        <div class="approval_col5"><a class="btn btn-primary btn-small">Copy</a></div>
                        <div class="approval_col6"><a class="btn btn-primary btn-small">Move</a></div>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <div class="approval_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be approved</div>
                    <div class="row_approval_container">
                        <div class="approval_col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="approval_col3"><a class="btn btn-primary btn-small">Edit</a></div>
                        <div class="approval_col4"><a class="btn btn-primary btn-small">Publish</a></div>
                        <div class="approval_col5"><a class="btn btn-primary btn-small">Copy</a></div>
                        <div class="approval_col6"><a class="btn btn-primary btn-small">Move</a></div>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <div>
                        <div class="clear">&nbsp;</div>
                        <div class="dashboardapprbutton" style="line-height: 66px;"><a class="btn btn-primary btn-small">Approve</a></div>
                        <div class="dashboardapprpag" style="">
                            <div class="pagination">
                                <ul>
                                    <li><a href="#">Prev</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Awaiting Approval -->
    </div>

    <div class="row-fluid">
        <!-- Begin Locked Content -->
        <div class="block span6">
            <div class="block-heading">
                <span class="block-icon pull-right">
                    <a href="#" class="demo-cancel-click" rel="tooltip" title="Click to refresh"><i class="icon-refresh"></i></a>
                </span>

                <a href="" >Locked Content</a>
            </div>
            <div id="" class="block-body collapse in container_padding">
                <div>
                    <div class="col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be unlocked</div>
                    <div class="row_unlock_container">
                        <div class="col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="col3"><a class="btn btn-primary btn-small">Unlock</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be unlocked</div>
                    <div class="row_unlock_container">
                        <div class="col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="col3"><a class="btn btn-primary btn-small">Unlock</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be unlocked</div>
                    <div class="row_unlock_container">
                        <div class="col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="col3"><a class="btn btn-primary btn-small">Unlock</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be unlocked</div>
                    <div class="row_unlock_container">
                        <div class="col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="col3"><a class="btn btn-primary btn-small">Unlock</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be unlocked</div>
                    <div class="row_unlock_container">
                        <div class="col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="col3"><a class="btn btn-primary btn-small">Unlock</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be unlocked</div>
                    <div class="row_unlock_container">
                        <div class="col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="col3"><a class="btn btn-primary btn-small">Unlock</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be unlocked</div>
                    <div class="row_unlock_container">
                        <div class="col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="col3"><a class="btn btn-primary btn-small">Unlock</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be unlocked</div>
                    <div class="row_unlock_container">
                        <div class="col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="col3"><a class="btn btn-primary btn-small">Unlock</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be unlocked</div>
                    <div class="row_unlock_container">
                        <div class="col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="col3"><a class="btn btn-primary btn-small">Unlock</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be unlocked</div>
                    <div class="row_unlock_container">
                        <div class="col2"><a class="btn btn-primary btn-small">Review</a></div>
                        <div class="col3"><a class="btn btn-primary btn-small">Unlock</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="clear">&nbsp;</div>
                    <div class="dashboardbutton" style="line-height: 66px;"><a class="btn btn-primary btn-small">Unlock</a></div>
                    <div class="dashboardpag" style="">
                        <div class="pagination">
                            <ul>
                                <li><a href="#">Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
            </div>
        </div>
    <!-- End Locked Content -->

    <!-- Begin Trash Can -->
        <div class="block span6">
            <div class="block-heading">
                <span class="block-icon pull-right">
                    <a href="#" class="demo-cancel-click" rel="tooltip" title="Click to refresh"><i class="icon-refresh"></i></a>
                </span>

                <a href="" >Trash Can</a>
            </div>
            <div id="" class="block-body collapse in container_padding">
                <div>
                    <div class="trash_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be deleted</div>
                    <div class="row_trash_container">
                        <div class="trash_col2"><a class="btn btn-primary btn-small">Restore</a></div>
                        <div class="trash_col3"><a class="btn btn-primary btn-small">Delete</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="trash_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be deleted</div>
                    <div class="row_trash_container">
                        <div class="trash_col2"><a class="btn btn-primary btn-small">Restore</a></div>
                        <div class="trash_col3"><a class="btn btn-primary btn-small">Delete</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="trash_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be deleted</div>
                    <div class="row_trash_container">
                        <div class="trash_col2"><a class="btn btn-primary btn-small">Restore</a></div>
                        <div class="trash_col3"><a class="btn btn-primary btn-small">Delete</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="trash_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be deleted</div>
                    <div class="row_trash_container">
                        <div class="trash_col2"><a class="btn btn-primary btn-small">Restore</a></div>
                        <div class="trash_col3"><a class="btn btn-primary btn-small">Delete</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="trash_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be deleted</div>
                    <div class="row_trash_container">
                        <div class="trash_col2"><a class="btn btn-primary btn-small">Restore</a></div>
                        <div class="trash_col3"><a class="btn btn-primary btn-small">Delete</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="trash_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be deleted</div>
                    <div class="row_trash_container">
                        <div class="trash_col2"><a class="btn btn-primary btn-small">Restore</a></div>
                        <div class="trash_col3"><a class="btn btn-primary btn-small">Delete</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="trash_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be deleted</div>
                    <div class="row_trash_container">
                        <div class="trash_col2"><a class="btn btn-primary btn-small">Restore</a></div>
                        <div class="trash_col3"><a class="btn btn-primary btn-small">Delete</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="trash_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be deleted</div>
                    <div class="row_trash_container">
                        <div class="trash_col2"><a class="btn btn-primary btn-small">Restore</a></div>
                        <div class="trash_col3"><a class="btn btn-primary btn-small">Delete</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="trash_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be deleted</div>
                    <div class="row_trash_container">
                        <div class="trash_col2"><a class="btn btn-primary btn-small">Restore</a></div>
                        <div class="trash_col3"><a class="btn btn-primary btn-small">Delete</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="trash_col1"><input type="checkbox" style="vertical-align: top;"/>&nbsp;&nbsp; Some content file name to be deleted</div>
                    <div class="row_trash_container">
                        <div class="trash_col2"><a class="btn btn-primary btn-small">Restore</a></div>
                        <div class="trash_col3"><a class="btn btn-primary btn-small">Delete</a></div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
                <div>
                    <div class="clear">&nbsp;</div>
                    <div class="dashboardtrashbutton" style="line-height: 66px;"><a class="btn btn-primary btn-small" style="display: inline;">Restore</a><div style="width: 25px; display:inline;">&nbsp;</div><a class="btn btn-primary btn-small" style="display: inline;">Delete</a></div>
                    <div class="dashboardtrashpag" style="">
                        <div class="pagination">
                            <ul>
                                <li><a href="#">Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- End Trash Can -->
    </div>
</div>



