<div class="formlabel">Banner:</div>
<div class="formfield"><input type="text" name="BannerImageName" value="@ViewBag.ImageName" /><a href="#myModal" role="button" data-toggle="modal">&nbsp;&nbsp;select an image</a></div>
<input type="hidden" name="BannerImage" value="@ViewBag.ImageId" />
<div class="clear">&nbsp;</div>
