@{
    ViewBag.Title = "Add - Widget";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="header">
    <h1 class="page-title">Create an HTML Widget</h1>
</div>

<div class="container-fluid">   
<div class="row-fluid">  
<div class="formcontainer">
    <div style="line-height: 30px;">&nbsp;</div>
    <div style="color: red">@Html.ValidationSummary()</div>

    <div class="formlabel">&nbsp;</div>
    <div class="formfield"><a href="/HTMLWidget"><button class="btn btn-primary"><i class="icon-reply"></i> Cancel</button></a></div>
    <div class="clear">&nbsp;</div>
    <div style="line-height: 30px;">&nbsp;</div>

    <form action="/HTMLWidget/WidgetAdd" method="post" id="WidgetAdd">
        <div class="formlabel">Name:</div>
        <div class="formfield"><input type="text" name="Name" value="@Model.Name" /></div>
        <div class="clear">&nbsp;</div>

        <textarea name="Content" id="Content" style="width: 80%">@Model.Content</textarea>
        
        <script>
            CKEDITOR.replace('Content', {
                filebrowserBrowseUrl: '/Content/ckfinder/ckfinder.html',
                filebrowserImageBrowseUrl: '/Content/ckfinder/ckfinder.html?type=Images',
                filebrowserUploadUrl: '/Content/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files&currentFolder=/Documents/',
                filebrowserImageUploadUrl: '/Content/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images&currentFolder=/Galleries/',
            }, '');
            </script>

        <div style="line-height: 30px;">&nbsp;</div>
        <div class="formlabel">&nbsp;</div>
        <div class="formfield"><button form="WidgetAdd" class="btn btn-primary"><i class="icon-save"></i> Save</button></div>
        <div class="clear">&nbsp;</div>
    </form>


</div>

