@{
    ViewBag.Title = "e - Library";
    Layout = "~/Views/Shared/_LayoutELibrary.cshtml";
}

<div class="inner-content">
    <div class="breadcum"><a href="index.html">Home</a> / Catalog</div>
    <h1>TOOLS FOR SCHOOL</h1>
    <div class="colomn-left">
        <div class="border">
           	<div class="title-red">Live Homework Help&reg;</div>
            <section class="padding">
                <div class="work">
                    <p> <a href="#">Got homework?</a> <br />
                    Get free help online from real tutors.<br /><br />
                    Math. Science. Social Studies. English.<br /><br /> 
                    Grades 4 - 12 & College intro. Every day 1-10 p.m.</p>
                </div>
                <span class="float_right"><img src="~/Content/images/pic.jpg" width="116" height="88"></span>
           	   	<div class="clear"></div>
            </section>
        </div>
                    
        <div class="border margin-top_10">
            <div class="title-blue">Magazine and newspaper Articles</div>
            <section class="padding">
                <div class="work">
                    <p><a href="#">General OneFile</a><br />
                    Excellent place to do research and collect those journal and magazine citations that teachers require.
                    <br /><br />
                    <a href="#">InfoTrac Newsstand </a> <br />Full text of major national and international newspapers and                                     selective full text numerous regional newspapers. Includes television & radio news transcripts.</p>
                </div>
                <span class="float_right"><img src="~/Content/images/magazine.jpg" width="116" height="226"></span>
           	   	<div class="clear"></div>
            </section>
        </div>
    </div><!--end colomn-left-->
                
    <div class="colomn-right">
        <div class="border">
            <div class="title-yellow">Social Issues</div>
            <div class="blue-girl">
                <section class="padding">
                    <div class="work">
                        <p> <a href="#">Opposing Viewpoints</a> <br />
                         Bring together articles that present various viewpoints. Research social issues, topic overviews,                                      statistics, biographies, court cases, and profiles of government agencies and special interest groups.
                    </div>
                    <div class="clear"></div>
                </section>
            </div> 
        </div>
                
        <div class="box border padding">
            <h4 class="teen-header">Techie Stuff</h4>
            <span class="float_left">
                <ul class="cat">
            	    <li><a href="#" title="Latest Movies">Latest Movies</a></li>
               	  	<li><a href="#" title="Read Away Fines">Read Away Fines</a></li>
           		  	<li><a href="#" title="Teen Books">Teen Books</a></li>
                    <li><a href="#" title="Volunteers">Volunteers</a></li>
           	    </ul>
            </span>
            <span class="float_right">
                <ul class="cat">
            	    <li><a href="#" title="Latest Movies">Latest Movies</a></li>
               	  	<li><a href="#" title="Read Away Fines">Read Away Fines</a></li>
           		  	<li><a href="#" title="Teen Books">Teen Books</a></li>
                    <li><a href="#" title="Volunteers">Volunteers</a></li>
           	    </ul>
            </span>
            <div class="clear"></div>
            <h4 class="teen-header">Just for Teachers</h4>
            <ul class="cat">
                <li><a href="#" title="Latest Movies">Latest Movies</a></li>
               	<li><a href="#" title="Read Away Fines">Read Away Fines</a></li>
           		<li><a href="#" title="Teen Books">Teen Books</a></li>
                <li><a href="#" title="Volunteers">Volunteers</a></li>
           	</ul>
                
	    </div>
    </div><!--end colomn-right-->
    <div class="clear"></div>
</div><!--end left_part-->
            
<div class="right_part">
    <div class="coloumn3">
        <div class="inner-cen-bg">	
            <h3>Teen Links</h3>
            <ul class="catlog_nav">
                <li><a href="#" title="Read Away Fines">Read Away Fines</a></li>
               	<li><a href="#" title="Homework Help">Homework Help</a></li>
           	</ul>
        </div>
    </div><!--end coloumn3-->
    <div class="inner-bot-bg"></div>
               
    <div class="bckgd box border padding">
        <h4 class="teen-header">SUBJECTS</h4>
        <ul class="cat">
            <li><a href="#" title="Latest Movies">Latest Movies</a></li>
            <li><a href="#" title="Read Away Fines">Read Away Fines</a></li>
           	<li><a href="#" title="Teen Books">Teen Books</a></li>
            <li><a href="#" title="Volunteers">Volunteers</a></li>
        </ul>
    </div>
                
    <div class="bckgd box border padding">
        <h4 class="teen-header">HOW TO...</h4>
        <ul class="cat">
            <li><a href="#">Live Homework Help&reg;</a></li>
            <li><a href="#">Magazine & Newspaper Articles</a></li>
           	<li><a href="#">Opposing Viewpoints in Context</a></li>
            <li><a href="#">LearningExpress</a></li>
            <li><a href="#">More...</a></li>
        </ul>
    </div>
                
    <div class="bckgd box border padding">
        <h4 class="teen-header">DICTIONARIES ENCYCLOPEDIAS & MORE</h4>
        <ul class="cat">
            <li><a href="#">Cars & Driving</a></li>
            <li><a href="#">Health & Life</a></li>
           	<li><a href="#">Internet Safety</a></li>
            <li><a href="#">Young Adult Voices</a></li>
        </ul>
    </div><!--end box-->
</div> <!--end right part--> 
<div class="clear"></div>
