@model IEnumerable<CMS.Domain.Entities.Image>
@{
    ViewBag.Title = "Images";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header">
    <h2>Images</h2>
</div>
<script type="text/javascript">
    var myID = 0;

    function doWork(id) {
        myID = id;
    }

</script>
<style type="text/css">
    img { -ms-interpolation-mode: bicubic; }
</style>
<div class="container-fluid">  
<div class="row-fluid">  
    <div class="row-fluid">            
        <div class="btn-toolbar">
            <a href="/Gallery/AddImage/@ViewBag.Id"><button class="btn btn-primary"><i class="icon-plus"></i>Add Image</button></a><a href="/Gallery/" style="margin-left: 5px;"><button class="btn btn-primary"><i class="icon-reply"></i> Back</button></a>
            <!--<a href="/Gallery/AddImage/@ViewBag.Id"><img src="/Content/images/addDocument.png" title="Add Image" alt="Add Image" height="55px" width="55px"/></a>-->
            
            <div class="btn-group">
            </div>
            
        </div>
        <div class="well">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 100px;"></th>
                        <th>Image Name</th>
                        <th style="width: 36px;"></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var image in Model)
                {
                    <tr>
                        <td><img src="~/Galleries/@ViewBag.GalleryName/thumbs/@(image.Name)_thumb.@(image.FileType)"   /><!--<img src="/Content/images/imageIcon.png" />--></td>
                        <td>@image.Name</td>
                        <td>
                            <a href="/Gallery/EditImage/@image.Id"><i class="icon-pencil"></i></a>
                            <a href="#myModal" role="button" data-toggle="modal" id="1" onclick="doWork(@image.Id);"><i class="icon-remove"></i></a>
                        </td>
                    </tr>   
                }
                </tbody>
            </table>
        </div>
        <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the Image?</p>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" onclick="document.location.href ='/Gallery/DeleteImage/' + myID;">Delete</button>
            </div>
        </div>
    </div>
</div>
