@foreach (var post in Model)
{
    <div class="border">
        <h5><a href="/Home/BlogPost/@ViewBag.TemplateId/@post.Id">@post.Title</a></h5>   
            <section class="padding">
                <figcaption class="caption float_left">@post.PublishDate.ToString("MM/dd/yyyy")</figcaption>
                <figcaption class="caption float_right">By <strong class="strong">@post.Author</strong></figcaption>
                <div class="clear margin-bottom_10"></div>
                <figcaption class="caption">
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(post.Content)) <br /><br />
                	<span class="dashd"></span>
                	<span class="float_right"><a href="/Home/BlogPost/@post.Id">Comment / Share</a></span>
                </figcaption>
                <div class="clear"></div>
            </section>
        </div><!--end border-->
    <div class="margin-top_10">&nbsp;</div> 
}


