@foreach(var blog in Model)
{
    if(@blog.PageWorkFlowState == 2)
    {
        <h2 style="margin-left: 10px;">@blog.Name</h2>
        <p style="margin-left: 10px;">@blog.Comment</p>
    
        <div class="margin-top_10">&nbsp;</div> 
    }
}