<script>
    //$(document).ready(function ({ collapsible: true, active: false }) {
    //    $("#accordion").accordion();
    //});
    $(function() {
        $("#accordion").accordion({ collapsible: true, active: false, autoHeight: false, heightStyle: "content" });
    });

    
</script>
<style type="text/css">
    .ui-accordion {
        line-height: 17px;
    }

    .ui-accordion-content {
        margin-left: 25px;
        background-color: #ffffff;
        height: 100%;
    }

    .ui-accordion-header {
        background-color: #ccc;
    }
</style>
<style type="text/css">
    h3:hover {
        cursor: pointer;
    }

a{
color: #e98c24;
}
.ui-widget{
    font-size: 1em;
}
.ui-widget-content a{
    color: #e98c24;
}
</style>
<button>Toggle Expand</button>
<div style="line-height: 45px;">&nbsp;</div>
<div id="accordion">
    @foreach (var question in Model)
    {
        <h3 style="color: black; font-size: 14px; color: #e98c24;">@question.FaqQuestion</h3>
        <div style="">
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(question.FaqAnswer))
        </div>
    }
</div>

    <div id="plain-text" style="display: none;">
        @foreach (var question in Model)
        {
            <h3 style="color: black; font-size: 14px; color: #e98c24;">@question.FaqQuestion</h3>
            <div style="">
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(question.FaqAnswer))
            </div>
        }
    </div>

<script>
    $( "button" ).click(function() {
        $( "#accordion" ).toggle();
    });

    $("button").click(function () {
        $("#plain-text").toggle();
    });
</script>