  <script>
  $(function() {
      $("#accordion").accordion({ collapsible: true, active: false });
  });
  </script>
    <style type="text/css">
        .ui-accordion {
            line-height: 20px;
        }
        .ui-accordion-content {
            margin-left: 25px;
        }
    </style>
<style type="text/css">
 h3:hover {
  cursor:pointer;
 }
</style>
<div id="accordion">
@foreach (var question in Model)
{
    <h3 style="color: black; font-size: 14px; color: #b74942">@question.FaqQuestion</h3>
    <div>
        @Html.Raw(System.Web.HttpUtility.HtmlDecode(question.FaqAnswer))
    </div>
}
</div>

