<nav>
    <ul class="nav">
        @foreach (var page in Model)
        {
            if(page.PageTitle != "Hidden Pages")
            {
                if (page.FriendlyURL.Length > 0)
                {
                    @:<li><a href="/@page.FriendlyURL">@page.NavigationName</a></li>
                }
                else
                {
                    @:<li><a href="/@page.PageID">@page.NavigationName</a></li>
                }
            }
        }
    </ul>
    <div class="clear"></div>
</nav>
