<nav class="nav">
    <ul>
        @foreach (var page in Model)
        {
            if(page.PageTitle != "Hidden Pages")
            {
                if (page.FriendlyURL.Length > 0)
                {
                    @:<li><a href="/@page.FriendlyURL">@page.NavigationName</a>@Html.Action("SystemSubMenu", "Home", new { id = page.PageID })</li>
                }
                else
                {
                    @:<li><a href="/@page.PageID">@page.NavigationName</a>@Html.Action("SystemSubMenu", "Home", new { id = page.PageID })</li>
                }
            }
        }
    </ul>
</nav>
