@if(Model.Count > 0)
{ 
    <div class="slide">
        <ul>
            @foreach (var page in Model)
            {
                if (page.FriendlyURL.Length > 0)
                {
                    <li><a href="/@page.FriendlyURL">@page.PageTitle</a></li>
                }
                else
                {
                    <li><a href="/@page.PageID">@page.PageTitle</a></li>
                }        
            }
        </ul>
    </div>
}
