<div class="adver">
<div class="green" style="background-color:#e7852c;">&nbsp;</div>
 
<div class="img_left"><img src="/Galleries/Widgets Images/Wireless Printing.jpg" style="width: 102px; height: 88px;" /></div>
<p class="advert_text">


@if (ViewBag.Network == "192.168.101")
{
    @:<a href="http://192.168.101.5:30044/clientlauncher">Need To Print?</a><br />
}
else if (ViewBag.Network == "192.168.103")
{
    @:<a href="http://192.168.103.5:30044/clientlauncher">Need To Print?</a><br />
}
else if (ViewBag.Network == "192.168.105")
{
    @:<a href="http://192.168.105.5:30044/clientlauncher">Need To Print?</a><br />
}
else if (ViewBag.Network == "192.168.107")
{
    @:<a href="http://192.168.107.5:30044/clientlauncher">Need To Print?</a><br />
}
else if (ViewBag.Network == "192.168.109")
{
    @:<a href="http://192.168.109.5:30044/clientlauncher">Need To Print?</a><br />
}
else if (ViewBag.Network == "192.168.111")
{
    @:<a href="http://192.168.111.5:30044/clientlauncher">Need To Print?</a><br />
}
else if (ViewBag.Network == "192.168.113")
{
    @:<a href="http://192.168.113.5:30044/clientlauncher">Need To Print?</a><br />
}
else if (ViewBag.Network == "192.168.115")
{
    @:<a href="http://192.168.115.5:30044/clientlauncher">Need To Print?</a><br />
}

Wireless users install our Print Client to print from your laptop (PC and Intel-based Mac only). 10 cents a page.</p>
</div>
