@model IEnumerable<CMS.Domain.Entities.WidgetContainer>
@{
    ViewBag.Title = "Widget Containers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header">
    <h2>Widget Container</h2>
</div>
<script type="text/javascript">
    var myID = 0;

    function doWork(id) {
        myID = id;
    }

</script>
<div class="container-fluid">
    <div class="row-fluid">
    <div class="row-fluid">            
        <div class="btn-toolbar">
            <a href="/WidgetContainer/ContainerAdd/"><button class="btn btn-primary"><i class="icon-plus"></i> Add Widget Container</button></a>
            <div class="btn-group">
                
            </div>
        </div>
        <div style="color: red">@Html.ValidationSummary()</div>
        <div class="well">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style="width: 13px; text-align: right;">&nbsp;</th>
                        <th style="width: 13px; text-align: right;">&nbsp;</th>
                        <th style="width: 13px; text-align: right;">&nbsp;</th>
                        <th style="width: 13px; text-align: right;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var container in Model)
                {
                    <tr>
                        <td>@container.Name</td>
                        <td><a href="/WidgetContainer/Preview/@container.Id" target="_blank"><i class="icon-picture" title="Preview" alt="Preview"></i></a></td>
                        <td><a href="/WidgetContainer/OrderWidgets/@container.Id"><i class="icon-list-ol" title="Order Widgets" alt="Order Widgets"></i></a></td>
                        <td><a href="/WidgetContainer/ContainerEdit/@container.Id"><i class="icon-pencil" title="Edit" alt="Edit"></i></a></td>
                        @if(container.Name != "Default" && container.Name != "Blog Post Container")
                        {
                            <td><a href="#myModal" role="button" data-toggle="modal" id="1" onclick="doWork(@container.Id);"><i class="icon-remove" title="Delete" alt="Delete"></i></a></td>
                        }
                        else
                        {
                            <td>&nbsp;</td>   
                        }
                    </tr>   
                }
                </tbody>
            </table>
        </div>
        <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the Widget Container?</p>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" onclick="document.location.href ='/WidgetContainer/ContainerDelete/' + myID;">Delete</button>
            </div>
        </div>
    </div>
</div>



