@model IEnumerable<CMS.Domain.Entities.HTMLWidget>
@{
    ViewBag.Title = "Order Widgets";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header">
    <h2>Order Widgets</h2>
</div>

<div class="container-fluid">
    <div class="row-fluid">
    <div class="row-fluid">            
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="/WidgetContainer/"><button class="btn btn-primary"><i class="icon-plus"></i> Return to Containers</button></a>
            </div>
        </div>
        <div style="color: red">@Html.ValidationSummary()</div>
        <div class="well">
            <table class="table">
                <thead>
                    <tr>
                        <th>Widget Name</th>
                        <th style="width: 13px; text-align: right;"></th>
                        <th style="width: 13px; text-align: right;"></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var widget in Model)
                {
                    <tr>
                        <td>@widget.Name</td>
                        <td><a href="/WidgetContainer/SortUp/@ViewBag.ContainerId/@widget.Id"><i class="icon-arrow-up" title="Sort Up" alt="Sort Up"></i></a></td>
                        <td><a href="/WidgetContainer/SortDown/@ViewBag.ContainerId/@widget.Id"><i class="icon-arrow-down" title="Sort Down" alt="Sort Down"></i></a></td>
                    </tr>   
                }
                </tbody>
            </table>
        </div>
    </div>
</div>




