<div class="formlabel">Image:</div>
<div class="formfield"><input type="text" name="NewsImageName" value="@ViewBag.ImageName" /><a href="#myModal" role="button" data-toggle="modal">&nbsp;&nbsp;select an image</a></div>
<input type="hidden" name="NewsImageId" value="@ViewBag.ImageId" />
<div class="clear">&nbsp;</div>
