@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="left_part">
    <div style="margin-top: 30px;">
        <h2>@Model.Title</h2>
        <div class="margin-top_10">&nbsp;</div>
        <p>@Model.PublishDate.ToString("MM/dd/yyyy")</p>
        <div class="margin-top_10">&nbsp;</div>
        <p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))</p>
        <div class="margin-top_10">&nbsp;</div>
    </div>
</div><!--end left_part-->
            
<div class="right_part">
    <div class="margin-top_10">&nbsp;</div>
    @Html.Action("getNewsContainer")            
</div> <!--end right part-->
