@{
    var mYear = DateTime.Now.Year; 
}
<!DOCTYPE html>
<html>
<head>
    <!-- set the encoding of your site -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024">
    <meta name="MobileOptimized" content="1024">
    <title>StaffNet</title>
    <!-- include the site stylesheet -->
    <link media="all" rel="stylesheet" href="~/Content/css/all.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet'>
    <!-- include HTML5 IE enabling script and stylesheet for IE -->
    <!--[if IE]>
    <script type="text/javascript" src="~/Content/js/ie.js"></script>
    <![endif]-->
</head>
<body>
    <!-- main container of all the page elements -->
    <div class="wrapper">
        <div class="container">
            <!-- header of the page -->
            <header class="header">
                <!-- page logo -->
                <div class="logo">
                    <a href="#"><img src="~/Content/images/logo.png" alt="solano country library" width="80" height="70"><span>Staff Net</span></a>
                </div>
                <div class="align-right">
                    <!-- search form -->
                    <form class="search-form" action="#">
                        <fieldset>
                            <div class="form-holder">
                                <label for="text">Search Staff Net</labe>l
                                <div class="input-wrap">
                                    <input id="text" type="search">
                                    <input type="submit" value="GO">
                                </div>
                                <a class="link" href="#">Advanced</a>
                            </div>
                        </fieldset>
                    </form>
                    <aside class="aside-link">
                        @Html.Action("NonSystemMenu", "Home", new { id = 1, viewName = "NonSystemMenu" })
                        @Html.Action("NonSystemMenu", "Home", new { id = 2, viewName = "NonSystemMenu" })
                    </aside>
                </div>
            </header>
            <!-- main navigation of the page -->

            @Html.Action("MainMenu", "Home")

            @RenderBody()

            <footer class="footer">
                <ul class="footer-nav">
                    <li><a href="#">Library Website </a></li>
                    <li><a href="#">Ektron Login </a></li>
                    <li><a href="#">Submit an Event </a></li>
                    <li><a href="#">Privacy Policy </a></li>
                    <li><a href="#">Contract Site Admin</a></li>
                </ul>
                <!-- copyright of the page -->
                <span class="copyright">Copyright @mYear Solano County Library</span>
            </footer>
        </div>
    </div>
    <!-- required stylesheets and scripts -->
    <script type="text/javascript" src="~/Content/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.main.js"></script>
</body>
</html>

