<!DOCTYPE HTML>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Welcome to Solano County Library</title>
	<meta name="description" content="Solano County Library">
    <meta name="keywords" content="Solano County Library">
    <meta name="robots" content="Follow,index"/>    
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="shortcut icon" href="~/Content/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/reset.css" media="screen" />
  	<link rel="stylesheet" type="text/css" href="~/Content/css/style.css" media="screen" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    <script type="text/javascript" src="~/Content/js/cufon-yui.js"></script>
	<script type="text/javascript" src="~/Content/js/cufon-replace.js"></script>
    <script type="text/javascript" src="~/Content/js/compacta_400.font.js"></script>
    <script src="/Content/js/cycle2.js"></script>
    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({ publisher: "f0bea296-1346-4ba7-82cb-b7d346f47b3b", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>
    	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
            <!--[if IE 6]>
			<script type="text/javascript" src="~/Content/js/DD_belatedPNG.js"></script>
			<script>
	      		/* EXAMPLE */
	      		//DD_belatedPNG.fix('*');
	    	</script>
		<![endif]-->  
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-296382-1', 'auto');
        ga('send', 'pageview');

    </script>     
</head>

<body class="kids-bg">
    
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MDL39F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function (w, d, s, l, i) {
w[l] = w[l] || []; w[l].push({
'gtm.start':
new Date().getTime(), event: 'gtm.js'
}); var f = d.getElementsByTagName(s)[0],
j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
'//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-MDL39F');</script>
<!-- End Google Tag Manager -->
    	
<div class="wrapper">
<div class="container"> 
    <header>
        <div class="logo"><a href="/Home"><img src="~/Content/images/kids-logo.jpg" width="146" height="153" title="Solano County Library Logo" alt="Solano County Library" /></a></div>
            @if (Model.BannerImageName != null && Model.BannerImageName.Length > 0)
            {
                @:<div class="header3" style="background: url(/Galleries/Banner%20Images/@Uri.EscapeDataString(Model.BannerImageName)) no-repeat 0 0; float:left; width:778px; height:153px;">
            }
            else
            {
        	    @:<div class="header3" style="background: url(/Content/images/header_kids.jpg) no-repeat 0 0; float:left; width:778px; height:153px;">
            }
       	    <div class="nav_box">
           	    @Html.Action("NonSystemMenu", "Home", new{ id = 7, viewName = "NonSystemMenu"})
            </div>  
            <div class="search_bar">
                <form name="searchForm" method="post" action="/Home/Search">
                   <label for="name">Search For</label>
               	    <input type="text" class="input" name="q" value="">
                    <label for="name">In</label>
               	    <select name="searchType" class="select" id="select">
               	      <option value="1">Library Catalog</option>
               	      <option value="2">This Website</option>
               	      <option value="3">The Web</option>
           	        </select>
					<input type="submit" class="submit" name="button"  value="Go">
                 </form>
	        </div>          
        </div><!--end header-->
        <div class="clear"></div>
    </header>
    <div class="navigation">
        @Html.Action("MainMenu", "Home")
    </div><!--end navigation-->
    
    @RenderBody()

  	<footer>
       	<div class="footer_menu">
          	<a href="http://www.solanocounty.com/depts/county_admin/feedback/default.asp">County Survey</a> : <a href="/contact-us">Contact</a> : <a href="/holiday-schedule">Holiday Schedule</a> : <a href="/privacy-policy">Privacy Policy</a> : <a href="http://libonline.snap.lib.ca.us/">Reserve a Computer</a>    
        </div>
        <div class="copyright">Copyright @ViewBag.CurrentYear Solano County Library</div>
        <div class="clear"></div>
    </footer>
</div><!--end container-->  
</div><!--end wrapper-->
<script type="text/javascript"> Cufon.now(); </script>     
    <script type="text/javascript">
        // causes outgoing links to get logged in Google Analytics
        for (var ac = 0; ac < links.length; ac++) {
            if (links[ac].href.indexOf(location.hostname) == -1 && links[ac].href.indexOf("javascript:") == -1) {
                links[ac].onclick = function () {
                    var url = this.href.replace(/[\/]/g, "_");
                    var url = url.replace("http:__", "");
                    pageTracker._trackPageview("/outgoing/" + url);
                    return true;
                }
            }
        }
    </script>  
    <!---->
</body>
</html>

