@if (ViewBag.FieldType == "select")
{
    <div class="formlabel">Option Text:</div>
    <div class="formfield"><input type="text" class="input-xlarge" name="childrenTitle" value="" /></div>
    <div class="clear">&nbsp;</div>
}
else if (ViewBag.FieldType == "radio")
{
    <div class="formlabel">Radio Text:</div>
    <div class="formfield"><input type="text" class="input-xlarge" name="childrenTitle" value="" /></div>
    <div class="clear">&nbsp;</div>
}
else if (ViewBag.FieldType == "checkbox")
{
    <div class="formlabel">Checkbox Text:</div>
    <div class="formfield"><input type="text" class="input-xlarge" name="childrenTitle" value="" /></div>
    <div class="clear">&nbsp;</div>
}
else if (ViewBag.FieldType == "special")
{
    <div class="formlabel">Option Text:</div>
    <div class="formfield"><input type="text" class="input-xlarge" name="childrenTitle" value="" /></div>
    <div class="clear">&nbsp;</div>
    
    <div class="formlabel">Option Value:</div>
    <div class="formfield"><input type="text" class="input-xlarge" name="childrenValue" value="" /></div>
    <div class="clear">&nbsp;</div>
}
