    table.format td {
    min-height: 50px;
}

@media screen and (max-width:1024px){
   table.format td {
     min-height: 50px;
   }
}


@media screen and (max-width:1920px){
   table.format td {
     min-height: 80px;
   }
}
