@model IEnumerable<CMS.Domain.Entities.Trash>
@{
    ViewBag.Title = "Recycle Bin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header">
    <h2>Recycle Bin</h2>
</div>
<script type="text/javascript">
    var myID = 0;

    function doWork(id) {
        myID = id;
    }

</script>
<div class="container-fluid">  
<div class="row-fluid">  
    <div class="row-fluid">            
        <div class="btn-toolbar">
            <div class="btn-group">
            </div>
        </div>
        <div class="well">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Deleted By</th>
                        <th style="width: 50px;"></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var trash in Model)
                {
                    <tr>
                        <td>@trash.ObjectName</td>
                        <td>@trash.ObjectType</td>
                        <td>@trash.DeletedByName</td>
                        <td>
                            <a href="/Trash/Restore/@trash.Id"><i class="icon-undo" title="Restore" alt="Restore"></i></a>
                            @if(trash.ObjectType == "Page")
                            {
                                <a href="/Page/PagePreview/@trash.ObjectId" target="_blank"><i class="icon-picture" title="Preview" alt="Preview"></i></a>
                            }
                            else if (trash.ObjectType == "Calendar")
                            {
                                <a href="/Calendar/EventPreview/@trash.ObjectId" target="_blank"><i class="icon-picture" title="Preview" alt="Preview"></i></a>
                            }
                            <a href="#myModal" role="button" data-toggle="modal" id="1" onclick="doWork(@trash.Id);"><i class="icon-remove" title="Delete" alt="Delete"></i></a>
                        </td>
                    </tr>   
                }
                </tbody>
            </table>
        </div>
        <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the Trash Item?</p>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" onclick="document.location.href ='/Trash/Delete/' + myID;">Delete</button>
            </div>
        </div>
    </div>
</div>
